<suite name="Cross browser parallel suit" parallel="tests">
    <test name="test on edge">
        <parameter name="browserName" value="edge"></parameter>
        <classes>
            <class name="tests.AmazonTests"/>
        </classes>
    </test>
    <test name="test on chrome">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="tests.AmazonTests"/>
        </classes>
    </test>
</suite>